[submodule "cmake/light_presets"]
	path = cmake/light_presets
	url = https://github.com/lightsource-nz/light_presets.git
[submodule "module/rend"]
	path = module/rend
	url = https://github.com/lightsource-nz/rend.git
[submodule "module/light_canvas"]
	path = module/light_canvas
	url = https://github.com/lightsource-nz/light_canvas.git
